.login {
	background-image: url('http://bgfons.com/uploads/money/money_texture1369.jpg');
	background-height: 200%;
	background-size: cover;
}

.title {
	font-size: 100px;
	font-weight: bold;
	text-align: center;
}