.login {
	background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2013/03/28/65636/77235985a45b34f0779ab80328d0cfca.jpg');
	min-height: 100%;
}

.title {
	font-size: 100px;
	font-weight: bold;
	text-align: center;
}